{%extends 'docscanner/base.html'%}


{%block body%}

    <!-- Hero-section -->
    <div class="hero-container">
        <div class="hero-bg">
            <div class="hero-text">

                <span class="main-hero-text">
                    One Click
                </span>
                <span class="hero-description">
                    “Save your docs in cloud in one click”                
                </span>
            </div>

            <div class="hero-signup-btn">
                <a class="hero-signup" href="/accounts/signup">Signup</a>                
            </div>
        </div>
    </div>


    <!-- Exit Hero -->
    

    <!-- Steps section -->
    <div class="steps-section mt-8">
        <div class="top-heading">
            Steps to save documents in cloud
        </div>

        <div class="steps">
            <div class="step" style="background:#2BB3ED;">
                
                <div class="step-no">01</div>

                <div class="step-name" style="font-size: 1em;">
                    Signup
                </div>

                <div class="step-desc">
                    Create the account.
                </div>
            
            </div>
            <div class="step" style="background:#0157FF;">
            
                <div class="step-no">
                    02
                </div>

                <div class="step-name" style="font-size: 1em;">
                    Login
                </div>

                <div class="step-desc">
                    Login into your account
                </div>
            
            </div>
            <div class="step" style="background:#FD1468;" >
            
                <div class="step-no">
                    03
                </div>
                <div class="step-name">
                        Click on take pic btn
                </div>

                <div class="step-desc">
                    Take the picture of document
                </div>

            </div>
            <div class="step" style="background:#566CE2;">
            
                <div class="step-no">
                    04
                </div>

                <div class="step-name">
                    Click on upload btn
                </div>

                <div class="step-desc">
                    Upload your document
                </div>

            </div>
        </div>

    </div>

    <!-- Steps section ----Exit-->
    <div class="why-we-container">
        <div class="why-we-heading">
            Why we?
        </div>

        <div class="why-we-section">

            <div class="point">
                <div class="point-no">
                    1.
                </div>
                <div class="point-text">
                    <div class="point-heading">
                        Ultra Secure
                    </div>
                    <div class="point-desc">
                        We have the strongest security
                    </div>
                </div>
            </div>
            <div class="point">
                <div class="point-no">
                    2.
                </div>
                <div class="point-text">
                    <div class="point-heading">
                        Ultra Fast
                    </div>
                    <div class="point-desc">
                        Take the picture of the DOCUMENT and Upload
                    </div>
                </div>
            </div>
            <div class="point">
                <div class="point-no">
                    3.
                </div>
                <div class="point-text">
                    <div class="point-heading">
                        Auto Document Detection
                    </div>
                    <div class="point-desc">
                        We use computer vision to detect Document in picture and save only the Document.
                    </div>
                </div>
            </div>

            <div class="point">
                <div class="point-no">
                    4.
                </div>
                <div class="point-text">
                    <div class="point-heading">
                        Auto Document Clean(Increases Text Contrast)
                    </div>
                    <div class="point-desc">
                        Our system also cleans the document using Computer Vision
                    </div>
                </div>
            </div>
        </div>
    </div>


{%endblock%}
        